.footer{
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

.shadow {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
}
.logo {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;
}

.ri{
  margin: 0 auto;
  display: block
}

.try {

  background: url(../img/beach.jpg);
  min-height: 100vh;

}
  /* leave footer position as fixed!!!! */